* {
  box-sizing: border-box;
}

img {
    max-width: 100%;
    margin: 10px;
    padding: 5px;
}

body {
  background-image: url("assets/bigwalk-background.jpg");
  background-color:#faf4d2;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.picture-container {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.scroll-container {
  display: grid;
  grid-auto-columns: 100%;
  grid-auto-flow: column;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scroll-behavior: smooth;
div {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
img {
  width: 50%;
  aspect-ratio: 16/9;
  object-fit: cover;
}
}