* {
  box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
  background-image: url("assets/structure-homepage.jpg");
  background-color:#1d2350;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}