* {
  box-sizing: border-box;
}

img {
    max-width: 100%;
    margin: 10px;
    padding: 5px;
}
a {
    color:black;
}
.type {
    text-align: center;
    font-family: Garamond, monospace;
    color:black;
    font-size: 30px;
}

body {
  /* background-image: url("../assets/bigwalk-orb-background.jpg"); */
  background-color:#ffffff;
}

.orbfar {
    display: inline-block;
    margin: 10px;
    padding: 20px;
    width: 500px;
    height: 400px;
}

.orbclose {
    margin: 40px;
    padding: 40px;
    width: 600px;
    height: 400px;
}

.orbinside {
    display: inline-block;
    width: 500px;
    height: 300px;
    padding: 20px;
    margin: 20px;
}