* {
  box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
  background-color:#f6ee67;
  margin: 0;
}

.container {
  background-image: url("../assets/structure-fall-background.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  height: 100vh;
}

.cpleaf {
  position: absolute;
  bottom: 89px;
  left: 628px;
}

.text {
  position: absolute;
  background: orangered;
  top: 90px;
  left: 900px;
  width: 400px;
}

.link {
  position: absolute;
  width: 230px;
  height: 300px;
  bottom: 200px;
  right: 260px;
}

