* {
  box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
  background-image: url("../assets/structure-fall-background.jpg");
  background-color:#f6ee67;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div {
  display: block;
}

.cpleaf {
  position: absolute;
  top: 485px;
  left: 623px;
}

.text {
  position: absolute;
  background: orangered;
  top: 90px;
  left: 900px;
  width: 400px;
}

.link {
  position: absolute;
  width: 230px;
  height: 300px;
  bottom: 200px;
  right: 213px;
}

