* {
  box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
  background-image: url("../assets/structure-snowy.jpg");
  background-color:#93d2e5;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div {
  display: block;
}

.link {
  position: absolute;
  width: 130px;
  height: 130px;
  top: 300px;
  left: 750px;
}
