* {
  box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
  background-color:#93d2e5;
  margin: 0;
}

p {
  position: absolute;
  background: #b9e4f0;
  top: 90px;
  left: 900px;
  width: 400px;
  padding: 10px;
  margin: 10px;
  font-family: monospace;
}

.container {
  background-image: url("../assets/structure-snowy.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  display: flex;
  height: 100vh; 
}

.cpfestive {
  position: absolute;
  bottom: 199px;
  right: 410px;
}

.link {
  position: absolute;
  width: 130px;
  height: 130px;
  bottom: 350px;
  left: 280px;
}
