* {
  box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
  background-image: url("../assets/structure-snowy.jpg");
  background-color:#93d2e5;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div {
  display: block;
}

.cpfestive {
  position: absolute;
  bottom: 214px;
  right: 380px;
}

.link {
  position: absolute;
  width: 130px;
  height: 130px;
  bottom: 350px;
  left: 250px;
}
