* {
  box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
  background-color:#3e1e16;
  margin: 0;
}

p {
  position: absolute;
  background: #735da8;
  bottom: 500px;
  left: 430px;
  width: 400px;
  padding: 10px;
  margin: 10px;
  font-family: monospace;
}

.container {
  background-image: url("../assets/structure-spooky.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  height: 100vh; 
}

.cpspook {
  position: absolute;
  top: 300px;
  left: 268px;
}

.link {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 160px;
  left: 1200px;
}
