* {
  box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
  background-image: url("../assets/structure-spooky.jpg");
  background-color:#3e1e16;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}