* {
  box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
  background-image: url("../assets/structure-spring.jpg");
  background-color:#5ac9e9;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div {
  display: block;
}

.cpspring {
  position: absolute;
  top: 485px;
  left: 700px;
}

.link {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 30px;
  left: 240px;
}
