* {
  box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
  background-color:#5ac9e9;
  margin: 0;
}

.container {
  background-image: url("../assets/structure-spring.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  display: flex;
  height: 100vh; 
}

.cpspring {
  position: absolute;
  bottom: 50px;
  left: 720px;
}

.link {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 30px;
  left: 270px;
}
