* {
  box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
  background-color:#00a2d4;
  margin: 0;
}

p {
  position: absolute;
  background: #25a2c4;
  bottom: 300px;
  left: 500px;
  width: 400px;
  padding: 10px;
  margin: 10px;
  font-family: monospace;
}

.container {
  background-image: url("../assets/structure-summer.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;  
  display: flex;
  height: 100vh;
}

.cpsummer {
  position: absolute;
  bottom: 0px;
  left: 300px;
}

.link {
  position: absolute;
  width: 300px;
  height: 300px;
  bottom: 90px;
  right: 400px;
}
